<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adwa victory</title>
    <link rel="stylesheet" href="../public/css/lalibella.css">
</head>
<body>
    <h1>ADWA VICTORY</h1>
    <img class="adwa" src="../public/Image/adwa.jpg">
    <p>
    In 1896, when the “colonial era” was well advanced on the African continent, and it served notice that
     Africa was not just there “for the taking” by European powers. More than this, it marked the entry of
      Ethiopia into the modern community of nations: Menelik’s victory over the Italians caused the other 
      major European states, and Italy itself, to recognise Ethiopia as a sovereign, independent state in the
       context of modern statecraft.
<br><br>
The actual battle which took place on March 1 and 2, 1896, at Adwa, the principal market town of the North
of Ethiopia, had been precipitated by the great rush of the European powers to colonise Africa. Italy and
Germany had lagged behind other European powers — most notably France and Britain — in seizing large parcels
of the Continent to colonise. Thus, the Conference of Berlin was convened in 1884-85 to “divide up” the
remainder of Africa among the other European powers, anxious to obtain their own African colonies to satisfy 
the urge for imperial expansion and economic gain. Italy was “awarded” Ethiopia; all that remained was for
 Italian troops to take possession.
<br><br>
Significantly, until this time, Ethiopia had been left alone by the European powers. Its coastal littoral was
well-known to traders, but the heartland in the highlands was peopled by nations notoriously unwilling to
accept and embrace external contact and influence. But the Ethiopian nations had been known in the past to be
fractious and divided, and from all accounts, Italy’s leaders expected a rapid conquest of the individual 
national leaders. Britain had, in 1868, waged a successful war against Emperor Téwodros II (Theodore),
leading to his death. The Italians, however, failed to recognise that Emperor Menelik II had re-shaped Ethiopia 
since he came to power in 1889, uniting its various kings and leaders, and creating in the process a substantial
army, outnumbering and outperforming the invading Italian professional army of 17,000 to 20,000 men.
<br><br>
The modern parallel to the situation came with the Israeli-Egyptian confrontations of 1967 and 1973.
The Israeli victory in 1967 (the Six-Day War) left Israel complacent and confident in the superiority of 
its forces over those of the Egyptians. Apart from this, the Israelis had put in place the Bar-Lev Line of
fortifications, which were expected to hold against any conceivable Egyptian attack. But the Israeli leadership
and intelligence services failed to note that the crushing defeat inflicted on Egypt so quickly in 1967 had
brought about a dramatic transformation in the psyche of the Egyptian leadership. President Anwar as-Sadat 
totally transformed the education, training, equipment and doctrine of the Egyptian Armed Forces, without
 Soviet help (Soviet advisors had been expelled in 1972), within six years of the defeat. When Egypt initiated 
 the October 1973 war, the transformed situation took Israel by complete surprise. Despite the massive 
 logistical re-supply of Israel by the US — which effectively saved Israel from complete humiliation — and 
 the recovery of initiative by Israeli commanders, Egypt achieved its strategic objectives. The Suez Canal was
re-opened, the Sinai returned to Egypt, and peace achieved.



    </p>
</body>
</html>