<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pages.css">
    <title>Arbaminch</title>
</head>
<body>
    <nav></nav>
    <div class = "container">
           <div class = "big-image">
            <img src="./Image/pictures/photo/arbaminch.jpg" alt="arbaminch">
           </div>
        
        <div class = "text">  
           <p align = "justify">
             Arbaminch is a city located in the Southern Nations, Nationalities,  and Peoples'
            Region (SNNPR) of Ethiopia. It is the largest city and administrative center 
            of the Gamo Gofa Zone. </p>

           <p align = "justify"> Arbaminch is located at an altitude of 1,620 meters above sea level 
            and is known for its scenic beauty, as it is surrounded by mountains and lakes. The city 
            is located near the source of the Omo River, which is one of Ethiopia's major rivers. 
            The Omo River is also known for its cultural significance, as it is home to many indigenous 
            peoples who have lived along its banks for generations. </p>
            
           <p align = "justify">  Arbaminch is a popular tourist destination, and visitors come to the 
            city to enjoy the natural beauty of the surrounding area. The city is known for its two stunning 
            lakes, Chamo and Abaya, which are a popular destination for boat trips and fishing. 
            The nearby Nechisar National Park is also a popular attraction, and is home to a variety 
            of wildlife, including elephants, baboons, and many species of birds. </p>
            
           <p align = "justify">  Aside from its natural beauty, Arbaminch is also known for its cultural 
            heritage. The city is home to several important cultural institutions, including the 
            Institute of Ethiopian Studies and the Arbaminch Cultural Center, which is dedicated to 
            preserving the city's cultural heritage and promoting traditional art and music. </p>
            
           <p align = "justify">   In conclusion, Arbaminch is a city with a rich cultural and natural 
            heritage that attracts visitors from all over the world. Whether you're looking for scenic 
            beauty, adventure, or cultural experiences, Arbaminch has something to offer for everyone. </p>
        </div>
       
    </div>
</body>
</html>