<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashenda</title>
    <link rel="stylesheet" href="../public/css/lalibella.css">
</head>
<body>
    <h1>ASHENDA</h1>
    <img class="ashenda" src="../public/Image/Ashenda_2.jpg">
    <p>
    Ashenda is a unique religious and traditional festival celebrated every year in Tigray and 
        Amhara Regional States between 16 to 21 August. Ashenda is a Tigrinya word meaning ‘’tall
        green grass that estimates around 80–90 centimeters minimum height. In the tradition of 
        this religious festival, blades of grass are strewn on the floors of homes and shops as a 
        kind of welcome mat. Unmarried girls and young women skillfully wove the grass into a
        bunch and wear them at their back while dancing on the occasion. Elusive

Ashenda marks the end of a two-week-long fasting period known as Filseta where the faithful in
 the Ethiopian Orthodox Tewahedo Church gather to honor the Virgin Mary.
<br><br>


   
 On the occasion of Ashenda also known as Shaday or Ahendiye in Amhara regional state, the young women and girls dress the best traditional dresses called tilfi which is a cotton dress decorated with amazing embroidery from the neck to toe in front of the dress. The girls also adorned themselves with array of beautiful jewelry.
 
 After they gather in the village or city center they divide in to small groups and they go house
to house singing and playing their drums. They stop at ever house and sing and dance for the people
 in the houses. According to the customs people to give them money, food and drinks and other
items for their efforts, they continue the whole day going from house to house and occasionally

stopping in a village or city center and singing and dancing for a while before they go on again on 
their tour.
<br><br>
 After they gather in the village or a local town, they divide in to small groups and they
go house to house singing and playing their drums. They stop at ever house and sing and dance for
the people in the houses. It is customary for people to give them money, food and drinks and other
items for their efforts. They continue the whole day going from house to house and occasionally 
stopping in a village or town center and singing and dancing for a while before they go on again on 
their tour. The gifts that are collected from community members during these celebrations are
 offered to poor people who cannot make ends meet.
 
 A week or so after the celebrations started, the event comes to an end with all the girls from the
village or the town coming together in the center of the town or a village singing and dancing
until sun down. This time the young boys join in more like spectators than active players.
 
 The young girls first go to church early in the morning for prayer and benediction followed by 
 dances.
 <br><br>
 Abadi Desta is a public relations expert in the Bureau of Culture and Tourism at Tigray Regional
State, speaking to ENA on the historical origin of Ashenda he said “Ashenda has been celebrated
during the era of Axum civilization even before 4th century AD before Christianity was introduced 
into Ethiopia.”
 <br><br>
 Abadi added, “after the introduction of Christianity, the celebration took religious dimensions 
 and was marked in connection with a two weeks fasting season in memory of the Virgin Mary and her 
 ascension”.
 
 According to Abadi, girls over 13 years of age and who are not married participate in the
  celebrations.
 
 Abadi told ENA that the Federal government and the two regional states of Tigray and Amhara are 
 coordinating their efforts to register Ashenda as an intangible cultural heritage at UNESCO.
 
 “The Federal Government and the two regional states have already prepared all the necessary
  materials and dispatched to UNESCO in March. The officials at UNESCO are expected to review the 
  materials we have sent in accordance to the requirement of UNESCO to proceed to the registration
   process and we expect the review to be completed sometimes in December.”
   <br><br>
 According to Kesis Yehinew Melku, member of the executive committee of Heritage Protection and 
 Documentation in Lalibela and the surrounding areas, in Amhara regional state, Ashenda is
 
 celebrated under three different names in different zones of the state,  Ashediey in Lasta, Solel


 in Raya Kobo and Shaday in Wag Himira .
 
 Yehenew added “Although the festival is celebrated under different names in the region, the
  content of the celebration is similar both in Tigray and different zones of Amhara State.”
 
 In discussing with ENA over the phone, Abadi said “The celebration of Ashenda could be effectively
used to create harmony and friendship between the peoples of Ethiopia and can also provide an

excellent opportunity for promoting democracy in the sphere of culture.”
<br><br>
 Ashenda is marked for several weeks in Tigray and Amhara regions right up to the weeks closer to 
 the end of the rainy season but is officially closed after the end of the two weeks fasting season.
 
 Ethiopia stands first in the number of the intangible cultural heritages it has registered at 
 UNESCO. There are more intangible and tangible cultural heritages that Ethiopia can register at 
 UNESCO in the future. This demands extensive research in identifying the appropriate heritages 
 that can potentially fulfill the requirements of UNECO.

</p>




</body>
</html>