<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axum</title>
    <link rel="stylesheet" href="../public/css/lalibella.css">

</head>
<body>
    <h1>AKSUM</h1>
    <img class= "axum" src="../public/Image/axum.jpg">
    <P>
        The ruins of the ancient city of Aksum are found close to Ethiopia's northern border. They mark the
        location of the heart of ancient Ethiopia, when the Kingdom of Aksum was the most powerful state between
        the Eastern Roman Empire and Persia. The massive ruins, dating from between the 1st and the 13th century 
        A.D., include monolithic obelisks, giant stelae, royal tombs and the ruins of ancient castles. Long after
         its political decline in the 10th century, Ethiopian emperors continued to be crowned in Aksum.
      <br><br>
      Situated in the highlands of northern Ethiopia, Aksum symbolizes the wealth and importance of the
    civilization of the ancient Aksumite kingdom, which lasted from the 1st to the 8th centuries AD. 
    The kingdom was at the crossroads of the three continents: Africa, Arabia and the Greco-Roman World,
    and was the most powerful state between the Eastern Roman Empire and Persia. In command of the ivory 
    trade with Sudan, its fleets controlled the Red Sea trade through the port of Adulis and the inland 
    routes of north eastern Africa.
    <br><br>
    Several stelae survive in the town of Aksum dating between the 3rd and 4th centuries AD. The largest
    standing obelisk rises to a height of over 23 meters and is exquisitely carved to represent a nine-storey
    building of the Aksumites. It stands at the entrance of the main stelae area. The largest obelisk of 
    some 33 meters long lies where it fell, perhaps during the process of erection. It is possibly the
    largest monolithic stele  that ancient human beings ever attempted to erect. 


    </P>
</body>
</html>