<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact details</title>
    <link rel="stylesheet" href="./css/contact.css">
    <script src="https://kit.fontawesome.com/3fd1af64ae.js" crossorigin="anonymous"></script>

</head>
<body>
  <h1>Feel Free to Contact Us</h1>
  <p>For any guidance you can contact us by using the following accounts
    </p>
    
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </th>
  <tr>
    <td>&emsp;Tilahun </td>
    <td>tilahun@gmail.com</td>
    <td>+9196574567</td>
  </tr>
  <tr>
    <td>&emsp;Genetu </td>
    <td>genetu@gmail.com</td>
    <td>+2514536789</td>
  </tr>
  <tr>
    <td>&emsp;Mobrahtom </td>
    <td>mobrahtom@gmail.com</td>
    <td>+2514535678</td>
  </tr>
</table>
<p> Check us Out here if you Like
</p>
    
 <div class="social-menu">
    
        <ul>
          <li><a href="https://github.com/mobrahtom"target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://github.com/mobrahtom"target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/mobrahtom"target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://github.com/mobrahtom"target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li><a href="https://github.com/mobrahtom"target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    
</body>
</html>