<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourist Guidance</title>
    <link rel="stylesheet" href="./css/culture.css">
</head>
<body>
    <%- include('navbarr.ejs') %>
    <div class="container">
    <h1>UNIQUE HOLIDAYS and FESTIVALS in ETHIOPIA</h1>
   
    <p>
        Celebrations in Ethiopia are great and colorful events, mostly religious, and frequently 
        take place over several days. Important Christian holidays include Meskel, Christmas, 
        Timkat, Kiddus Yohannes and Easter. Timkat, which marks Christ's baptism, is the most 
        colorful event of the year.  In September, the two-day feast of Meskal marks the finding
        of the True Cross.  Kiddus Yohannes, New Year's Day comes on September 11, which coincides
         with the end of the season of heavy rains and the beginning of spring.
        The Major festivals and holidays which are celebrated in Ethiopia are:-
  
    <ol>
  <h5>1. ENQUTATASH (ETHIOPIAN NEW YEAR)</h5>
  <h5>2. TIMKET (EPIPHANY)</h5>
  <h5>3. GENA (ETHIOPIAN CHRISTMAS)</h5>
  <h5>4. ASHENDA</h5>
  <h5>5. MESKEL</h5>
  <h5>6. FASIKA (EASTER)</h5>
  <h5>7. IRREECHA</h5>
  <h5>8. ADWA VOCTORY</h5>
</ol>
  
    </p>
    <h2>Enqutatash (Ethiopian New Year)</h2>
    <div class="container">
        <input type="checkbox" id="check">
    <img src="./Image/enkutatash.jpg" class="images">
    
    <p>
        Enkutatash is the name for the Ethiopian New Year and means “gift of jewels” in the Amharic 
        language. The story goes back almost 3,000 years to the Queen of Sheba of ancient Ethiopia
        and Yemen, who was returning from a trip to visit King Solomon of Israel in Jerusalem, as
        mentioned in the Bible in I Kings 10 and II Chronicles 9. She had gifted Solomon with 120 
        talents of gold (4.5 tons) and many unique spices and jewels. When the Queen returned to
         Ethiopia, her chiefs welcomed her with enku or jewels to replelish her treasury.
         </p>
         <div class="content">
            <p>
         The celebration is both religious and secular. Typically this is the end of the 
         long rainy season, and the countryside is covered with yellow daisies. The day begins 
         with church services, followed by the family meal. Young children will receive small 
         gifts of money or bread after the girls gather flowers and sing, and the boys paint 
         pictures of saints. Families visit friends, and adults drink Ethiopian beer.
            
         </p>
         </div>
         <label for="check">See More...</label>
         </div>

    
    <h2>Timket (Epiphany)</h2>
    <div class="container">
        <input type="checkbox" id="tim">
    <img src="./Image/Epiphany.jpg" class ="photo">
    <p>
        Timkat is the Geez expression for the traditional celebration of Epiphany, commemorating 
        the baptism of Jesus Christ in the hands of John the Baptist at River Jordan. Epiphany 
        (Astereyo in Geez) denotes the manifestation of the mystery of the Trinitarian God in
         which God the Father testified the sonship of Jesus, and the Holy Spirit revealed itself 
        as a dove right at the Jordan River when Jesus was baptized. Timkat is also the religiou
        practice that initiates a child to Christendom. Timkat celebration, held annually on the
        19th of January, is primarily a function in the purview of the Ethiopian Orthodox
        Tewahedo Church, a church possibly as old as Christianity itself. As indicated in
        the Bible, an Ethiopian eunuch was the first person to be baptized when he was on an official visit to Jerusalem. (Acts 8:26-40)
     </p>
     <br><br>
     <div class="content">
     <p>
        The first mystery of the Christian faith rests in and around Epiphany, which traditionally
        calls for grand annual celebrations among Christians in Ethiopia. The annual ceremony led 
        by the Ethiopian Orthodox Church in Ethiopia on January 19 is a very colorful one.
        The whole city especially areas along the path to the baptismal pool – is adorned with
        flags of Ethiopia. Adherents of the faith, especially women, wear clothes with green,
        yellow and red signifying the Ethiopian flag as the symbol of the rainbow, which in itself
        means the covenant between man and God. Timkat is a very colorful annual event in the city
        of Gondar (the capital city of Ethiopia from the early 17th to mid-19th century), a city 
        known as the Camelot of Africa.  It is usually the choice of many tourists coming from
        within the country and from abroad to celebrate the annual festival of the Epiphany.
        Located in northwestern Ethiopia, Gondar is also known for its age-old castles, some dated
        back to the 17th century. Gondar draws important annual revenues from tourism, largely
        through the Timkat festival which is considered the single most passionately celebrated 
        event in Ethiopia.
        <br><br>
        The Fasiladas Bath, where Timkat celebrations occur in Gondar, represents the Jordan River.
        At the Ketera marking the eve of the Timkat celebration, eight of the 44 Tabots of the Orthodox
        Tewahedo Church within the city flock towards the Bath from all directions. At the center of
        each parish church is the Tabot, the wooden slab believed to be a replica of the Ark of the 
        Covenant. This is the holiest object that has to be carried on the head of the arch priest of 
        the parish church with much reverence. The hymns of St. Yared and other religious songs, 
        as well as worldly songs, accompanied by Eskista, traditional dances both religious and
        worldly, highlight the festive mood of the day. It is believed that if there is not enough
        festivity and songs, traditional hymns sung by Debteras (seasoned church educated elites) 
        accompanied by sticks, hand sistra and elegant drums, the Tabot would exert pressure on 
        the priest carrying it and force him to stop from walking farther. The parishioners of each
        church are dressed up in their finest traditional costumes; the boys and girls dress to their
        best, using the festival as an opportunity to find their mates. All eight major parishes
        converge at the pool, respectively resting the Tabot in a tent of their own until the next day
        when the actual celebration begins.

    <br><br>
    After Mass is served and the reading from the four Gospels is consummated, the blessing of the
    water in the pool takes place by the Abun, the Bishop of the city. At this instance the ceremony
    centers on the pool of water. The morrow then is filled with much jubilation and Elelta,
    ululation of the womenfolk. With this festivity, the Tabots, surrounded by the enthusiastic
    faithful, begin to return to their original parishes while more joyous moments are shared by 
    the parishioners, dancing and singing to the best of their performance. This takes almost the
    whole day.

       </p>
      </div>
      <label for="tim">See More...</label>
      </div>

     <h2>ASHENDA</h2>
     <div class="container">
     <input type="checkbox" id="ashe">
     <img src="./Image/ashenda - Copy.jpg" class="images">
     <p>
        Ashenda is a unique religious and traditional festival celebrated every year in Tigray and 
        Amhara Regional States between 16 to 21 August. Ashenda is a Tigrinya word meaning ‘’tall
        green grass that estimates around 80–90 centimeters minimum height. In the tradition of 
        this religious festival, blades of grass are strewn on the floors of homes and shops as a 
        kind of welcome mat. Unmarried girls and young women skillfully wove the grass into a
        bunch and wear them at their back while dancing on the occasion. Elusive

Ashenda marks the end of a two-week-long fasting period known as Filseta where the faithful in
 the Ethiopian Orthodox Tewahedo Church gather to honor the Virgin Mary.
<br><br>
</p>
<div class="content">
   <p>
 On the occasion of Ashenda also known as Shaday or Ahendiye in Amhara regional state, the young women and girls dress the best traditional dresses called tilfi which is a cotton dress decorated with amazing embroidery from the neck to toe in front of the dress. The girls also adorned themselves with array of beautiful jewelry.
 
 After they gather in the village or city center they divide in to small groups and they go house
to house singing and playing their drums. They stop at ever house and sing and dance for the people
 in the houses. According to the customs people to give them money, food and drinks and other
items for their efforts, they continue the whole day going from house to house and occasionally

stopping in a village or city center and singing and dancing for a while before they go on again on 
their tour.
<br><br>
 After they gather in the village or a local town, they divide in to small groups and they
go house to house singing and playing their drums. They stop at ever house and sing and dance for
the people in the houses. It is customary for people to give them money, food and drinks and other
items for their efforts. They continue the whole day going from house to house and occasionally 
stopping in a village or town center and singing and dancing for a while before they go on again on 
their tour. The gifts that are collected from community members during these celebrations are
 offered to poor people who cannot make ends meet.
 
 A week or so after the celebrations started, the event comes to an end with all the girls from the
village or the town coming together in the center of the town or a village singing and dancing
until sun down. This time the young boys join in more like spectators than active players.
 
 The young girls first go to church early in the morning for prayer and benediction followed by 
 dances.
 <br><br>
 Abadi Desta is a public relations expert in the Bureau of Culture and Tourism at Tigray Regional
State, speaking to ENA on the historical origin of Ashenda he said “Ashenda has been celebrated
during the era of Axum civilization even before 4th century AD before Christianity was introduced 
into Ethiopia.”
 <br>
 Abadi added, “after the introduction of Christianity, the celebration took religious dimensions 
 and was marked in connection with a two weeks fasting season in memory of the Virgin Mary and her 
 ascension”.
 
 According to Abadi, girls over 13 years of age and who are not married participate in the
  celebrations.
 
 Abadi told ENA that the Federal government and the two regional states of Tigray and Amhara are 
 coordinating their efforts to register Ashenda as an intangible cultural heritage at UNESCO.
 
 “The Federal Government and the two regional states have already prepared all the necessary
  materials and dispatched to UNESCO in March. The officials at UNESCO are expected to review the 
  materials we have sent in accordance to the requirement of UNESCO to proceed to the registration
   process and we expect the review to be completed sometimes in December.”
   <br><br>
 According to Kesis Yehinew Melku, member of the executive committee of Heritage Protection and 
 Documentation in Lalibela and the surrounding areas, in Amhara regional state, Ashenda is
 
 celebrated under three different names in different zones of the state,  Ashediey in Lasta, Solel


 in Raya Kobo and Shaday in Wag Himira .
 
 Yehenew added “Although the festival is celebrated under different names in the region, the
  content of the celebration is similar both in Tigray and different zones of Amhara State.”
 
 In discussing with ENA over the phone, Abadi said “The celebration of Ashenda could be effectively
used to create harmony and friendship between the peoples of Ethiopia and can also provide an

excellent opportunity for promoting democracy in the sphere of culture.”
<br><br>
 Ashenda is marked for several weeks in Tigray and Amhara regions right up to the weeks closer to 
 the end of the rainy season but is officially closed after the end of the two weeks fasting season.
 
 Ethiopia stands first in the number of the intangible cultural heritages it has registered at 
 UNESCO. There are more intangible and tangible cultural heritages that Ethiopia can register at 
 UNESCO in the future. This demands extensive research in identifying the appropriate heritages 
 that can potentially fulfill the requirements of UNECO.

</p>
</div>
<label for="ashe">See More...</label>
</div>


<h2>GENA (ETHIOPIAN CHRISTMAS)</h2>
<input type="checkbox" id="gena">
<img src="./Image/genaa.jpg" class="images">
<p>

Christmas in Ethiopia is called Ganna (or Genna) and is celebrated on January 7th. An important Ethiopian holiday,
 visitors in the country can get an insight into the religious traditions and culture of the 
 African nation.

Ganna comes 12 days before the Timkat festival, another important holiday. Travelers with an
Ethiopian eVisa can spend up to 90 days in Ethiopia and are therefore able to enjoy both events on one trip.

The information below explains how Christmas is marked in Ethiopia and the best places to spend
 the holiday as a tourist.
 <br><br>
 <div class="content">
   <p>
 Ethiopia (and especially the Ethiopian Orthodox Tewahedo Church) celebrates Christmas on January
7th, not December 25th. The Ethiopian Calendar has different months - and Christmas in on the 
29th of Tahsas. Many other orthodox churches around the world also celebrate Christmas on the 
7th January. The calendar the Ethiopian Orthodox Tewahedo Church uses originally came from
calendar used by the Coptic Orthodox Church (which is based in Egypt) but now has it's own
special days.

The Christmas celebration in the Ethiopian Orthodox Church is called Ganna or Genna. Most people go
to Church on Christmas day.
<br><br>
Many people take part in a special Advent fast during the 43 days before Christmas. It starts on 
25th November and is known as the 'Fast of the Prophets' (Tsome Nebiyat). During this time,
traditionally only one vegan meal is eaten each day. It's a vegan meal because during the fast, 
foods including meat, dairy, eggs and wine aren't eaten.

For Genna, people get dressed in white. Most people wear a traditional garment called a Netela.
It's a thin white cotton piece of cloth with brightly colored stripes across the ends. It's worn
like a shawl or toga. If you live in a big town or city you might wear 'western' clothes.
People go to church mass on Christmas Eve (called the gahad of Christmas) at 6.00pm and the service
finishes about 3.00am on Christmas Day.
<br><br>
The Ethiopian capital city is Addis Ababa. It's a modern city. Most people who live outside big 
cities live in round house made of mud-plastered walls which have thatched cone-shaped roofs. 
Sometimes houses in the country are rectangular and made of stone.

The design of Ethiopian Church is similar to the houses. In the country, they are often very old
and have been carved out of rock. In cities, modern churches are built in three circles, each
within the others.
<br><br>
The choir sings from the outer circle. Everyone who goes to church for the Ganna celebrations is
given a candle. The people walk around the church three times in a solemn procession, holding the
candles. They then go to the second circle to stand during the service. The men and boys are
separated from the women and girls. The center circle is the most important and holy place in the 
church and is where the priest serves the Holy Communion or Mass.
</p>
</div>
<label for="gena">See More...</label>



<h2>MESKEL</h2>
<div class="container">
    <input type="checkbox" id="mes">
<img src="./Image/Tim2.jpg" class="photo">
<P>
    Ethiopians have celebrated the annual festival of the Meskel (which means “cross” in Amharic),
    marking the finding of the “true cross” on which Jesus Christ was supposedly crucified.
    The festival is one of the major religious celebrations of the Orthodox Church in the Horn of Africa country. The main national feast - which occurs on 27 or 28 September - is held at Meskel Square in the capital Addis Abba.

On 27 September, senior government officials, diplomats and Orthodox Church leaders joined 
for the celebrations of the Damera – the lighting of the bonfires which signify the smoke that
led to St Helena, the mother of Constantine the Great, to the spot where the cross was buried.
<div class="content">
    <p>
        The Meskel festival celebration begins with the burning of a large bonfire called Demera, by a large 
        procession of Christians at the Meskel square – named in honor of the festival. 
        This Demera-procession often begins at the eve of the event or sometimes the morning of the celebration.
        In the capital city of Addis Ababa, a large firewood is decorated with the Meskel flower and then set on fire in line with the history surrounding the festival.
        The Meskel flowers are yellow daisies which coincidentally blooms at the time of the celebration. These daisies are usually tied to the top of branches and bundled together into the demera, which is then set ablaze by the procession of people on the eve of the festival.
        The crowd encircles the bonfire singing special Meskel songs while allowing it to burn completely into ash.
        The Meskel Festival usually starts in the afternoon and ends after sunset amidst much merriment and prayers
<br><br>
The Meskel festival is a must see as it does not only display the rich Christian heritage of Ethiopia but also displays the beauty of the Ethiopian orthodox churches with its colorful way of worship. There is a display of church leaders adorned with attractive robes and giant crosses to symbolize the event.
The Meskel festival is a heritage of pride. It is an avenue to display the rich Christian culture of Ethiopia to foreign visitors and the world.
Christian tourists, in addition to celebrating and reaffirming their faith in Christianity, are also provided an opportunity to explore the cities of Ethiopia, which not surprisingly also has biblical references in the Old Testament.
Tourists are sure to have a wonderful time at the Meskel festival which reveals a true Christian culture in the continent of Africa.


    </p>
</div>
<label for="mes">See More...</label>
</div>

    
<h2>FASIKA (EASTER)</h2>
<img src="./Image/Easter.jpg" class="photo">
<p>

    “Fasika” is the Amharic word for Easter, and refers to the 55-days where Ethiopians celebrate 
    their most important festival of the year. This festival, which celebrates the death and 
    resurrection of Jesus Christ, is one of the most longstanding within the Ethiopian Orthodox
     Church.

Because the Ethiopian Orthodox Church view the death and resurrection of Jesus Christ as far more
significant than His birth, Fasika is the most important Christian festival, hence it is normally
one week longer than Western celebrations. Fasika sees all Christian denominations within Ethiopia,
including Orthodox, Catholic and Protestant, come together for a series of traditional services 
and activities that take place just after Easter in the Western calendar.
<h2>IRREECHA</h2>
<img src="./Image/Erecha.jpg" class="photo">
<P>

In many countries of Africa traditional thanksgiving ceremonies are organized in each country with
different cultural contexts. When Europe is still in the Dark Ages, Africans were conducting a 
colorful passionate and heartfelt thanksgiving celebration spiritually outsmarting the ‘civilizing 
mission of the European colonizers.

Irreechaa or Irressa also known as Irreechaa Melka and Irreechaa Tulu is a traditional Oromo 
thanksgiving celebrated every year at the bank of a river in the case of Irreechaa Melka and on a 
hill top in the case of Irreechaa Tulu.

While Irreechaa Melka is celebrated right at the end of the regular rainy season, Irreechaa Tulu
is marked in the Ethiopian spring or Birra.

Irreechaa is based on the traditional thanksgiving event to the Waka or Wakayo who is believed to 
create the heavens and the earth. The Oromos thank the Waka for good harvest, livestock health and
peace among other things in their communities.
</P>
<h2>ADWA VICTORY</h2>
<img src="./Image/Adwa - Copy.jpg" class="images">
<P>

    he actual battle which took place on March 1 and 2, 1896, at Adwa, the principal market town of
 the North of Ethiopia, had been precipitated by the great rush of the European powers to colonise
Africa. Italy and Germany had lagged behind other European powers — most notably France and Britain 
— in seizing large parcels of the Continent to colonise. Thus, the Conference of Berlin was convened
 in 1884-85 to “divide up” the remainder of Africa among the other European powers, anxious to 
 obtain their own African colonies to satisfy the urge for imperial expansion and economic gain. 
 Italy was “awarded” Ethiopia; all that remained was for Italian troops to take possession.

 Significantly, until this time, Ethiopia had been left alone by the European powers. Its coastal 
 littoral was well-known to traders, but the heartland in the highlands was peopled by nations
notoriously unwilling to accept and embrace external contact and influence. But the Ethiopian 
nations had been known in the past to be fractious and divided, and from all accounts, Italy’s 
leaders expected a rapid conquest of the individual national leaders. Britain had, in 1868, waged
a successful war against Emperor Téwodros II (Theodore), leading to his death. The Italians,
however, failed to recognise that Emperor Menelik II had re-shaped Ethiopia since he came to power
in 1889, uniting its various kings and leaders, and creating in the process a substantial army,
outnumbering and outperforming the invading Italian professional army of 17,000 to 20,000 men.
</P>
</div>
</div>
<%- include('footer.ejs') %>
</body>
</html>