<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dallol in Ethiopia</title>
    <link rel="stylesheet" href="../public/css/lalibella.css">
</head>
<body>
    <h1>Dallol In Ethiopia</h1>
    <img class= "dalol" src="../public/Image/dallol.jpg">
    <p>
        Touted as one of Earth’s most volcanic regions, Dallol in Danakil Desert of   has long been abandoned. 
        Except a few locals, or ‘Afar’ as they are called, the region is hardly visited by tourists. Wonder why?
         Well, to begin with, it is the hottest inhabited place on Earth, with 
        the daily high hovering around 46 degree Celsius.

If you think you can beat the sun’s heat, think again. Afar people have to deal with a constant barrage of 
earthquakes and exposure to the molten core as well. There are lakes of potent acid present just beneath the
 ground and chances of survival are extremely bleak should you step in it.
 <br><br>
Dallol in Ethiopia didn’t always evoke this sense of apprehension. In fact, it was a popular mining site for
potash, an important component of fertilizer, back in early 1900s. In those days, the salt deposits wer
visible on the earth’s surface and mining was done using low-technology equipment.
<br><br>
For transportation of Ethiopian salt, the first railway was constructed between the mining site and Eritrean
port by the year 1918. However, the weather was too extreme to endure and production was stopped after World
 War I.

After several unsuccessful attempts by companies to renew operations, the British dismantled the rail system 
for good. Today, the remains of trucks and rail carriages can be seen strewn across the never-ending white
 salt flats.
<br><br>
Dallol is a mix of danger and beauty, and it’s difficult to say which is more captivating. At one side,
there is adventure at its extreme. On the other, the salt-encrusted colorful lakes are a sight to behold.
The brown mound, or the volcano, is the only vertical structure. Combined with hot springs and iron oxide
 crust and geysers, the landscape of Dallol craters is truly mesmerizing.





    </p>
    
</body>
</html>