<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hareri jugol</title>
    <link rel="stylesheet" href="./css/lalibella.css">
</head>
<body>
    <%- include('navbarr.ejs') %>
    <h1>Hareri Jugol(Gimbi)</h1>
    <img class="hareri" src="./Image/hareri.jpg">
    <p>
        The fortified historic town of Harar is located in the eastern part of Ethiopia, 525 km from the capital
        of Addis Ababa, on a plateau with deep gorges surrounded by deserts and savannah. The walls surrounding 
        this sacred city, considered “the fourth holy city” of Islam, were built between the 13th and 16th
        centuries and served as a protective barrier. There were five historic gates, which corresponded to the
        main roads to the town and also served to divide the city into five neighbourhoods, but this division is 
        not functional anymore. The Harar gate, from where the main streets lead to the centre, is of recent 
        construction.
         <br><br>
        Harar Jugol numbers 82 mosques, three of which date from the 10th century, 102 shrines and a number of 
        traditional, Indian and combined townhouses with unique interior designs, which constitute a spectacular 
        part of Harar's cultural heritage. The African and Islamic traditions influenced over a long period of time
        the development of the city and its typical urban planning and contributed to its particular character and
        uniqueness. The present urban layout follows the 16th century design for an Islamic town with its central 
        core occupied with commercial and religious buildings and a maze of narrow alleyways with imposing facades.
         The traditional Harari house has a typical, specific and original architectural form, different from the
          domestic layout usually known in Muslim countries, although reminiscent of the coastal Arab architecture,
           and with an exceptional interior design. At the end of the 19thcentury Indian merchants built new houses
            with wooden verandas that defined a different urban landscape and influenced the construction of the
            combined Indian/Harari houses. Their architectural and ornamental qualities are now part of the Harari 
            cultural heritage.

       
    </p>
    <%- include('footer.ejs') %>
</body>
</html>