<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Land of Habesha</title>
    <link rel="stylesheet" href="../public/css/style.css">
   
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!--  fontAwsome -->
<script src="https://kit.fontawesome.com/e5c1ddf372.js" crossorigin="anonymous"></script>
<style>
  *{
    box-sizing: border-box;
  }
  
  
  .box {
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 20px;
  
    
   
  }

  .box img {
    width: 100%;
    margin-bottom: 20px;
    height: 200px;
  }

  .box p {
    font-size: 14px;
    color: black;
  }

  .btn {
    margin-top: 20px;
  }

  iframe{
          width:100%;
          height: auto;
        }
  #foot{
          width: 102%;
          height: 500px;
        }
  </style>

</head>
<body>
  <%- include('navbarr.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 box">
        <img src="./Image/slider/s3.jpg" alt="Image 1">
        <p>Lalibela is a town in northern Ethiopia that is famous for its 11 medieval rock-hewn churches. The churches are considered some of the most important examples of Ethiopian Orthodox 
          Church architecture and are believed to have been built in the 12th and 13th centuries.</p>
        <a href="lalibela" class="btn btn-primary">Explore more</a>
      </div>
      <div class="col-12 col-md-4 box">
        <img src="./Image/ashenda.jpg" alt="Image 2">
        <p>Ashenda is a traditional festival celebrated by the Tigray people of Ethiopia. It is a celebration of the coming of age for young girls, and is typically held in August. During the festival, young girls dress in traditional white dresses and headwear, and perform dances and songs in the streets.
           The festival is also marked by feasting and the giving of gifts.</p>
        <a href="ashenda" class="btn btn-primary">Explore more</a>
      </div>
      <div class="col-12 col-md-4 box">
        <img src="./Image/slider/s1.webp" alt="Image 3">
        <p>Lucy is a name given to the fossilized remains of an early human ancestor that were discovered in the Afar region of Ethiopia in 1974. Lucy is estimated to have lived approximately 3.2 million years ago
           and is one of the oldest and most complete skeletons of a human ancestor ever found.</p>
        <a href="lucy" class="btn btn-primary">Explore more</a>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-md-4 box">
        <img src="./Image/slider/s14.jpg" alt="Image 1">
        <p>Lalibela is a town in northern Ethiopia that is famous for its 11 medieval rock-hewn churches. The churches are considered some of the most important examples of Ethiopian Orthodox 
          Church architecture and are believed to have been built in the 12th and 13th centuries.</p>
        <a href="axum" class="btn btn-primary">Explore more</a>
      </div>
      <div class="col-12 col-md-4 box">
        <img src="./Image/TIM4.jpg" alt="Image 2">
        <p>Ashenda is a traditional festival celebrated by the Tigray people of Ethiopia. It is a celebration of the coming of age for young girls, and is typically held in August. During the festival, young girls dress in traditional white dresses and headwear, and perform dances and songs in the streets.
           The festival is also marked by feasting and the giving of gifts.</p>
        <a href="timket" class="btn btn-primary">Explore more</a>
      </div>
      <div class="col-12 col-md-4 box">
        <img src="./Image/slider/s15.jpg" alt="Image 3">
        <p>Lucy is a name given to the fossilized remains of an early human ancestor that were discovered in the Afar region of Ethiopia in 1974. Lucy is estimated to have lived approximately 3.2 million years ago
           and is one of the oldest and most complete skeletons of a human ancestor ever found.</p>
        <a href="hareri" class="btn btn-primary">Explore more</a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 box">
        <img src="./Image/slider/s13.jpg" alt="Image 1">
        <p>Lalibela is a town in northern Ethiopia that is famous for its 11 medieval rock-hewn churches. The churches are considered some of the most important examples of Ethiopian Orthodox 
          Church architecture and are believed to have been built in the 12th and 13th centuries.</p>
        <a href="irrecha" class="btn btn-primary">Explore more</a>
      </div>
      <div class="col-12 col-md-4 box">
        <img src="./Image/Tim3.jpg" alt="Image 2">
        <p>Ashenda is a traditional festival celebrated by the Tigray people of Ethiopia. It is a celebration of the coming of age for young girls, and is typically held in August. During the festival, young girls dress in traditional white dresses and headwear, and perform dances and songs in the streets.
           The festival is also marked by feasting and the giving of gifts.</p>
        <a href="adwa" class="btn btn-primary">Explore more</a>
      </div>
      <div class="col-12 col-md-4 box">
        <img src="./Image/ale3.jfif" alt="Image 3">
        <p>Lucy is a name given to the fossilized remains of an early human ancestor that were discovered in the Afar region of Ethiopia in 1974. Lucy is estimated to have lived approximately 3.2 million years ago
           and is one of the oldest and most complete skeletons of a human ancestor ever found.</p>
        <a href="eretale" class="btn btn-primary">Explore more</a>
      </div>
    </div>

  </div>
  <%- include('footer.ejs') %>
</body>