<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ireecha Festival</title>
    <link rel="stylesheet" href="lalibella.css">
</head>
<body>
    <h1>Ireechaa Festival</h1>
    <img class="ire" src="../pages/irecha.jpg">
    <p>
        In many countries of Africa traditional thanksgiving ceremonies are organized in each country with
        different cultural contexts. When Europe is still in the Dark Ages, Africans were conducting a 
        colorful passionate and heartfelt thanksgiving celebration spiritually outsmarting the ‘civilizing 
        mission of the European colonizers.
        <br><br>
        Irreechaa or Irressa also known as Irreechaa Melka and Irreechaa Tulu is a traditional Oromo 
        thanksgiving celebrated every year at the bank of a river in the case of Irreechaa Melka and on a 
        hill top in the case of Irreechaa Tulu.
        
        While Irreechaa Melka is celebrated right at the end of the regular rainy season, Irreechaa Tulu
        is marked in the Ethiopian spring or Birra.
        <br><br>
        Irreechaa is based on the traditional thanksgiving event to the Waka or Wakayo who is believed to 
        create the heavens and the earth. The Oromos thank the Waka for good harvest, livestock health and
        peace among other things in their communities.
        
        In many countries of Africa traditional thanksgiving ceremonies are organized in each country with
different cultural contexts. When Europe is still in the Dark Ages, Africans were conducting a 
colorful passionate and heartfelt thanksgiving celebration spiritually outsmarting the ‘civilizing 
mission of the European colonizers.
<br><br>
Irreechaa or Irressa also known as Irreechaa Melka and Irreechaa Tulu is a traditional Oromo 
thanksgiving celebrated every year at the bank of a river in the case of Irreechaa Melka and on a 
hill top in the case of Irreechaa Tulu.

While Irreechaa Melka is celebrated right at the end of the regular rainy season, Irreechaa Tulu
is marked in the Ethiopian spring or Birra.
<br><br>
Irreechaa is based on the traditional thanksgiving event to the Waka or Wakayo who is believed to 
create the heavens and the earth. The Oromos thank the Waka for good harvest, livestock health and
peace among other things in their communities.
    </p>
</body>
</html>