<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pages.css">
    <title>Konso</title>
</head>
<body>
    <nav></nav>
    <div class = "container">
        <div class = "big-image">
            <img src="./Image/pictures/photo/konso.jpg" alt="konso">
        </div>

        <div class = "text">
            <p align = "justify">The Konso landscape is a unique and culturally rich region 
                located in southern Ethiopia, near the town of Konso. The area is known for 
                its unique terraced hills, which were created by the Konso people over hundreds 
                of years and serve as a symbol of their ingenuity and ingenuity.</p>
            <p align = "justify">The Konso landscape is home to several villages, each with 
                its own unique traditions, customs, and architecture. Visitors to the area can 
                take guided tours of the villages and learn about the Konso people's way of life, 
                including their agriculture, weaving, pottery, and iron-working practices.</p>
            <p align = "justify">In addition to its cultural significance, the Konso landscape 
                is also known for its stunning scenery and natural beauty. The area is surround
                ed by rolling hills and lush vegetation, making it an ideal destination for nature 
                lovers and photographers.</p>
            <p align = "justify">One of the most notable features of the Konso landscape is the 
                Waga Gosho village, which is known for its unique circular houses and intricat
                e stone walls. The village has been designated a UNESCO World Heritage Site, 
                and visitors can learn about the area's history and cultural heritage through 
                guided tours.</p>
        </div>
    </div>
</body>
</html>