<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pages.css">
    <title>Lake Hawassa</title>
</head>
<body>
    <nav></nav>
    <div class = "container">
        <div class = "big-image">
            <img src="./Image/pictures/photo/Lake Hawassa.jpg" alt="Hawassa">
        </div>

        <div class = "text">
            <p align = "justify">Lake Hawassa is a large freshwater lake located in southern Ethiopia, 
                
                near the city of Hawassa. It covers an area of approximately 48 square kilometers and is 
                one of the country's largest and most important lakes.</p>
            <p align = "justify">The lake is surrounded by lush vegetation and is a popular destination 
                
                for birdwatching, as it is home to a diverse array of bird species, including several 
                species of waterbirds, wading birds, and birds of prey. In addition to its wildlife,
                 Lake Hawassa is also known for its stunning scenery and its cultural significance.</p>
            <p align = "justify">The lake is a popular destination for local residents, who come to fish, 
                
                swim, and relax along its shores. There are also several lodges and campsites located 
                near the lake, making it an ideal destination for travelers who are looking for a peaceful
                 and serene getaway.</p>
            <p align = "justify">In addition to its natural beauty, Lake Hawassa is also a hub of cultural

                
                activity, with several traditional festivals and markets taking place around its shores.
                  Visitors to the lake can experience the local culture and see the vibrant arts and 
                  crafts that are produced in the area.</p>
        </div>
    </div>
</body>
</html>