<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lalibella Church</title>
    <link rel="stylesheet" href="lalibella.css">
</head>
<body>
    <h1>Rock-Hewn Churches, Lalibela</h1>
    <img src="/pages/lalibela.jpg">
    <p>
        In a mountainous region in the heart of Ethiopia, some 645 km from Addis Ababa, eleven medieval 
        monolithic churches were carved out of rock. Their building is attributed to King Lalibela who
       set out to construct in the 12th century a ‘New Jerusalem’, after Muslim conquests halted Christian
       pilgrimages to the holy Land. Lalibela flourished after the decline of the Aksum Empire.
       <br><br>
       There are two main groups of churches – to the north of the river Jordan: Biete Medhani Alem 
     (House of the Saviour of the World), Biete  Mariam (House of Mary), Biete  Maskal (House of the Cross),
      Biete Denagel (House of Virgins), Biete Golgotha Mikael (House of Golgotha Mikael); and to the south 
      of the river, Biete Amanuel (House of Emmanuel), Biete Qeddus Mercoreus (House of St. Mercoreos),
    Biete Abba Libanos (House of Abbot Libanos), Biete Gabriel Raphael (House of Gabriel Raphael), and Biete
    Lehem (House of Holy Bread). The eleventh church, Biete Ghiorgis (House of St. George), is isolated from
    the others, but connected by a system of trenches.
    <br><br>
    The churches were not constructed in a traditional way but rather were hewn from the living rock of monolithic blocks. These blocks were further chiselled ou
    t, forming doors, windows, columns, various floors, roofs etc. This gigantic work was further completed with an extensive system of drainage ditches, trenches and ceremonial passages, some with openings to hermit caves and catacombs.

Biete Medhani Alem, with its five aisles, is believed to be the largest monolithic church in the world, while 
Biete Ghiorgis has a remarkable cruciform plan. Most were probably used as churches from the outset, but
Biete Mercoreos and Biete Gabriel Rafael may formerly have been royal residences. Several of the interiors 
are decorated with mural paintings.
<br><br>
Near the churches, the village of Lalibela has two storey round houses, constructed of local red stone, and
known as the Lasta Tukuls. These exceptional churches have been the focus of pilgrimage for Coptic Christians 
since the 12th century.
The King of Lalibela set out to build a symbol of the holy land, when pilgrimages to it were rendered 
impossible by the historical situation. In the Church of Biet Golgotha, are replicas of the tomb of Christ,
and of Adam, and the crib of the Nativity. The holy city of Lalibela became a substitute for the holy places 
of Jerusalem and Bethlehem, and as such has had considerable influence on Ethiopian Christianity.

    </p>
</body>
</html>