<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucy</title>
    <link rel="stylesheet" href="./css/lalibella.css">
</head>
<body>
    <h1>LUCY(DINKNESH)</h1>
    <img class="lucy" src="./Image/lucy.jpg">

      <p>
Lucy was one of the first hominin fossils to become a household name. Her skeleton is around 40% complete 
- at the time of her discovery, she was by far the most complete early hominin known.

On 24 November 1974, palaeoanthropologist Donald Johanson was exploring the ravines and valleys of
the Hadar river in the Afar region of northeastern Ethiopia when he spotted an arm bone fragment poking 
out of a slope.
<br><br>
Johanson later recounted that his pulse quickened as he realised it belonged not to a monkey but a hominin.
As the team found more and more fragments, they began to appreciate that they were uncovering an extraordinary
skeleton. The full excavation took three weeks.

Lucy's skeleton consists of 47 out of 207 bones, including parts of the arms, legs, spine, ribs and pelvis,
as well as the lower jaw and several other skull fragments. However, most of the hand and foot bones 
are missing. 


</p>
    
</body>
</html>