<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pages.css">
    <title>Mango Park</title>
</head>
<body>
    <nav></nav>
    <div class = "container">
        <div class = "big-image">
            <img src="./Image/pictures/photo/mango park.jpg" alt="mango">
        </div>

        <div class = "text"> <b>Mago National Park </b> <br>
            <p align = "justify">Mago National Park is a protected area located in southwestern Ethiopia, 
                near the town of Jinka. It covers an area of approximately 2,162 square kilometers and is 
                one of the country's largest and most important national parks.</p>
            <p align = "justify"> The park is known for its diverse landscapes, ranging from rolling hills 
                and savannah grasslands to riparian forests along the Mago River. The park is also home to 
                a wide variety of wildlife, including elephants, buffalos, lions, hyenas, and baboons, as 
                well as many species of birds and primates.</p>
             <p align = "justify">In addition to its natural beauty, Mago National Park also has a rich cultural 
                heritage. The park is home to several tribes of indigenous people, including the Mursi, Benna, 
                and Karo, who have lived in the area for thousands of years and continue to maintain their traditional 
                lifestyles and customs.</p>
            <p align = "justify">Visitors to Mago National Park can take guided tours of the park to see its wildlife 
                and learn about its cultural heritage. The park is accessible by road from the nearby town of Jinka, and 
                there are several lodges and campsites located within the park for those who wish to stay overnight.</p>
        </div>
    </div>
</body>
</html>