<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <title>OMO VALLEY</title>
    <style>
       
      body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #f6f3f3;
         }
         .contents{
            background: white;
            padding: 20px;
            width:70%;
            align-items: center;
         }
        img {
            width: 70%;
            height: auto;
            max-height: 400px;
        }
        .photo{
            position: relative;
            left:10%;
            display: block;
        }
        figcaption{
            position: relative;
            left: 25%;
            margin-top: 5px;
            font-size: small;
        }
        iframe{
          width:100%;
          height: 80px;
        }
        #id{
          width: 102%;
          height: 500px;
        }

    </style>
  </head>
  <body>
    <iframe src="navbarr.html"></iframe>
    <div class="container contents">
      <h1 class="text-center my-5">OMO VALLEY</h1>
      <p>
        Erta Ale is an active volcano located in the Afar region of northeastern Ethiopia.
         It is one of the few continuously active lava lakes in the world and has been erupting continuously since 1906. The name "Erta Ale" means
          "smoking mountain" in the local Afar language. The volcano is situated in the Danakil Depression, a hot and inhospitable area that is one of
           the lowest points on the planet. Despite the harsh conditions, the area is home to several indigenous communities who have learned to adapt to 
           the harsh environment. Erta Ale is a popular tourist destination for those interested in geology and 
        adventure travel, but it is also considered sacred by some local communities.
      </p>
      <p>
         Timket has been celebrated in Ethiopia for many centuries, tracing its roots back to ancient times. 
        It is said to have originated from the biblical account of the baptism of Jesus by John the Baptist.
      </p>
      <p>
        The celebration of Timket begins on the eve of the festival with a procession, where the replicas of the Tabot 
      (Ark of the Covenant) are taken from the churches and placed on temporary altars. On the day of Timket, a reenactment of the baptism of Jesus
       takes place, where the faithful are blessed with holy water. The festival is characterized by singing, dancing, feasting, and processions. 
       People dressed in traditional white clothing and carrying crosses, candles, and umbrellas participate in the procession.
       The festival concludes with the return of the Tabot replicas to the churches..
      </p>
      <figure class="photo m-3">
      <img src="Image/omo1.jfif" alt="ereta ale">
      <figcaption> ereta ale</figcaption>
      </figure>
        Timket is a time of great joy and celebration for Ethiopian Orthodox Christians, who gather with their families and friends to take
         part in the festivities. It is also a time for renewal and spiritual reflection, 
        as the faithful remember the significance of the baptism of Jesus and its meaning for their faith.
      </p>
      <p> The celebration of Timket is not limited to Ethiopia and is observed by Ethiopian Orthodox communities around the world. 
        It is an opportunity for the diaspora to come together and celebrate their cultural heritage and religious beliefs.</p>
      <p> In addition to the religious rituals, Timket is also a cultural celebration that showcases the rich traditions and customs of Ethiopia. During the festival, traditional dances, such as the Azmari and the Chiro, 
        are performed. Music, including drumming and hymns, is also an important part of the celebration.</p>
        <figure class="photo m-3">
      <img src="Image/omo2.jpg" alt="ereta ale">
         <figcaption>ereta ale</figcaption>
        </figure>
      <p> Food plays a significant role in Timket, with families preparing feasts to share with their loved ones and guests. Injera, a type of sourdough flatbread, 
        is a staple food during the festival and is often served with various stews, such as shiro and doro wat.</p>
      <p> Timket is a time for giving and charity. It is common for families to make donations to the less fortunate and to those in need. 
        This act of generosity is seen as an expression of their faith and as a way of giving thanks for the blessings they have received.</p>
        <figure class="photo m-3">
            <img src="Image/omo.jpg" alt="ereta ale">
               <figcaption>ereta ale</figcaption>
              </figure>
        <p>  Timket is a significant religious and cultural celebration for Ethiopian Orthodox Christians. It is a time for spiritual renewal, cultural expression, and community building. The festival is celebrated with great joy, 
            reverence, and generosity, and is a testament to the rich traditions and heritage of Ethiopia.</p>
          
    </div>
    <div style="height: 500px;">
      <iframe style="height: 500px;" id="foot" src="footter.html"></iframe>
  
</div>

  </body>
</html>
