<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/pages.css">
    <title>Omo park</title>
</head>
<body>
    <nav></nav>
    <div class = "container">
        <div class = "big-image">
            <img src="./Image/pictures/photo/omo.png" alt="omo">
        </div>

        <div class = "text">
            <p align = "justify">
                Omo National Park is a protected area in southwestern Ethiopia, 
                located on the Omo River and its tributaries. It covers an area of 
                approximately 4,068 square kilometers and is one of the country's 
                largest and most important national parks.</p>
            <p align = "justify"> 
                The park is known for its rich biodiversity, including a diverse array 
                of flora and fauna, with many species that are endemic to the region. 
                The park is also home to several tribes of indigenous people, including 
                the Mursi, Benna, and Karo, who have lived in the area for thousands of 
                years and continue to maintain their traditional lifestyles and customs.</p>
            <p align = "justify"> 
                One of the park's most notable attractions is its large herds of elephants, 
                which roam the savannah grasslands and riparian forests along the Omo River. 
                Other wildlife that can be seen in the park include buffalos, lions, hyenas, 
                baboons, and a wide variety of bird species.
            </p>
            <p align = "justify">
                n addition to its natural beauty, Omo National Park also has a rich cultural 
                heritage. The park is home to several archaeological sites, including rock paintings 
                and engravings, which offer a glimpse into the lives and beliefs of the region's 
                ancient peoples.
            </p>
        </div>
    </div>
</body>
</html>