<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timket in Ethiopia</title>
    <link rel="stylesheet" href="../pages/lalibella.css">
</head>
<body>
    <h1>Timket(Epiphany) in Ethiopia</h1>
    <img src="../pages/Epiphany.jpg">
    <p>
        Timkat is the Geez expression for the traditional celebration of Epiphany, commemorating 
        the baptism of Jesus Christ in the hands of John the Baptist at River Jordan. Epiphany 
        (Astereyo in Geez) denotes the manifestation of the mystery of the Trinitarian God in
         which God the Father testified the sonship of Jesus, and the Holy Spirit revealed itself 
        as a dove right at the Jordan River when Jesus was baptized. Timkat is also the religiou
        practice that initiates a child to Christendom. Timkat celebration, held annually on the
        19th of January, is primarily a function in the purview of the Ethiopian Orthodox
        Tewahedo Church, a church possibly as old as Christianity itself. As indicated in
        the Bible, an Ethiopian eunuch was the first person to be baptized when he was on an official visit to Jerusalem. (Acts 8:26-40)
     <br><br>
   
        The first mystery of the Christian faith rests in and around Epiphany, which traditionally
        calls for grand annual celebrations among Christians in Ethiopia. The annual ceremony led 
        by the Ethiopian Orthodox Church in Ethiopia on January 19 is a very colorful one.
        The whole city especially areas along the path to the baptismal pool – is adorned with
        flags of Ethiopia. Adherents of the faith, especially women, wear clothes with green,
        yellow and red signifying the Ethiopian flag as the symbol of the rainbow, which in itself
        means the covenant between man and God. Timkat is a very colorful annual event in the city
        of Gondar (the capital city of Ethiopia from the early 17th to mid-19th century), a city 
        known as the Camelot of Africa.  It is usually the choice of many tourists coming from
        within the country and from abroad to celebrate the annual festival of the Epiphany.
        Located in northwestern Ethiopia, Gondar is also known for its age-old castles, some dated
        back to the 17th century. Gondar draws important annual revenues from tourism, largely
        through the Timkat festival which is considered the single most passionately celebrated 
        event in Ethiopia.
        <br><br>
        The Fasiladas Bath, where Timkat celebrations occur in Gondar, represents the Jordan River.
        At the Ketera marking the eve of the Timkat celebration, eight of the 44 Tabots of the Orthodox
        Tewahedo Church within the city flock towards the Bath from all directions. At the center of
        each parish church is the Tabot, the wooden slab believed to be a replica of the Ark of the 
        Covenant. This is the holiest object that has to be carried on the head of the arch priest of 
        the parish church with much reverence. The hymns of St. Yared and other religious songs, 
        as well as worldly songs, accompanied by Eskista, traditional dances both religious and
        worldly, highlight the festive mood of the day. It is believed that if there is not enough
        festivity and songs, traditional hymns sung by Debteras (seasoned church educated elites) 
        accompanied by sticks, hand sistra and elegant drums, the Tabot would exert pressure on 
        the priest carrying it and force him to stop from walking farther. The parishioners of each
        church are dressed up in their finest traditional costumes; the boys and girls dress to their
        best, using the festival as an opportunity to find their mates. All eight major parishes
        converge at the pool, respectively resting the Tabot in a tent of their own until the next day
        when the actual celebration begins.

    <br><br>
    After Mass is served and the reading from the four Gospels is consummated, the blessing of the
    water in the pool takes place by the Abun, the Bishop of the city. At this instance the ceremony
    centers on the pool of water. The morrow then is filled with much jubilation and Elelta,
    ululation of the womenfolk. With this festivity, the Tabots, surrounded by the enthusiastic
    faithful, begin to return to their original parishes while more joyous moments are shared by 
    the parishioners, dancing and singing to the best of their performance. This takes almost the
    whole day.

       </p>
    
      
</body>
</html>