<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultural Experiences</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        *{
            box-sizing: border-box;
            
        }
        #culture_photo{
            background: url(Image/coffee.jpg);
            width:100%;
            height: 600px;
            position:fixed;
            background-size:cover;
            background-repeat: no-repeat;
            background-position-x: center;
            
        }
        .overview{
            border: 1px solid green;
        }

    </style>

</head>
<body>
    <div class="culture"> 
        Navbar
    
    <div id="culture_photo">
        <h2>culture</h2>
    </div>
   

     <div class="container-fluid mt-10 ">
        <h1 class="mt-5 text-center">Cultural Experience</h1>
        <hr class="line">
       <div class="row overview d-flex justify-content-around">
         <div id="box" class="container col-lg-3 col-md-5 col-sm-8">
          <h2> Timket</h2>
          <hr class="line">
          <img src="#" alt="Timket">
          <p></p>
  
         </div>
          <div id="box" class="container col-lg-3 col-md-5 col-sm-8">
          <h1>meskel</h1>
          <hr class="line">
          <img src="#" alt="Meskel">
          <p></p>
  
          </div>
          <div id="box" class="container col-lg-3 col-md-6 col-sm-8">
              <h1>Irrecha</h1>
              <hr class="line">
              <img src="#" alt="Irrecha">
              <p></p>
              </div>
  
              
      </div>
    </div>
    
</div> 
 
</body>
</html>